/************************
Elementos de neutralização 


* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #717171;
}


/************************
Estilizando o corpo do site


body#body {
    width: 1200px;
}

.box-conteudo {
    padding-top: 20px;
    margin-left: 15px;
    height: 512px;
    background: blueviolet;
}

.clear {
    clear: both;
}

/************************
Estilizando cabeçalho


header {
    background: #F28e13;
    padding-top: 3px;
    height: 90px;
    
}

header nav ul {
    list-style: none;
    margin: 20px;
    float: right;
}

header nav ul li {
    float: left;
}
header nav ul li a {
    color: #f2f2f2;
    padding: 11px;
}

header nav ul li a:link {
    color: #f2f2f2;
    display: block;
    margin-right: 25px;
}

header nav ul li a:hover {
    background: #c08747;
    color: #f2f2f2;
    border-radius: 31px;
    text-align: center;
    text-decoration: none;
}

*/
#home {
    padding: 200px 0;
}


.color {
    background: #344772;
    height: 70px;
    opacity: 1;
}

.cor-azul {
    background: #304269;
}

.cor-cinza {
    background: #f2f2f2;
}

.black {
    color: #000;
}

.caixa {
    padding: 60px 0;
	border-bottom: 1px solid #e5e5e5;
}

.logo {
    margin: auto 0;
    object-fit: cover;
}

.logo-texto {
    margin: 0 -1200px;
}

.imagem {
    border-radius: 31px;
}

.icone-1 {
  
}

@media (max-width: 721px) {

    .div-principal {
        padding-bottom: 180px;
    }

    #botao-de-cima {
        right: 25px;
        position: absolute;
        top: 20px;
    }

    .div-video {
        left: 25px;
        position: absolute;
        top: 450px;
    }


      .video-1 {
            top: 11px;
            left: 40px;
            object-fit: cover;
            z-index: 1;
            width: 252px;
            height: 137px;
            position: relative;
    }

    .div-video .fundo-imagem {
        width: 332px;
        height: 208px;
        position: absolute;
    }
}


 @media (min-width: 721px){
            
        
    .div-video {
        /* Esse elemento está aqui só para que eu posso me localizar */
    }

    .video-1 {
        top: 24px;
        left: 87px;
        object-fit: cover;
        z-index: 1;
        width: 557px;
        height: 314px;
        position: relative;
    }

    .div-video .fundo-imagem {
        width: 730px;
        height: 475px;
        position: absolute;
    }
}


.botao {
    width: 225px;
        padding: 0 10px;
        /* fallback for old browsers */
        background: #f27b13;
      
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(242, 123, 19, 1), rgba(242, 142, 19, 1));
      
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(242, 123, 19, 1), rgba(242, 142, 19, 1))
}

.botao-1 {
    width: 135px;
        /* fallback for old browsers */
        background: #f27b13;
      
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(242, 123, 19, 1), rgba(242, 142, 19, 1));
      
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(242, 123, 19, 1), rgba(242, 142, 19, 1))
}

.div-botao {
    top: 650px;
    left: 90px;
    position: absolute;

}

.div-botao a:hover {
    transform: scale(1.080);
}


.div-texto-botao {
    top: 680px;
    left: 85px;
    position: absolute;
    font-style: normal;
    margin-top: 20px;
}

.texto-abaixo {

}

.texto-abaixo-1 {
    border: 0;
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;

            /* fallback for old browsers */
            color: #f27b13;
      
            /* Chrome 10-25, Safari 5.1-6 */
            color: -webkit-linear-gradient(to right, rgba(242, 123, 19, 1), rgba(242, 142, 19, 1));
          
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            color: linear-gradient(to right, rgba(242, 123, 19, 1), rgba(242, 142, 19, 1))
}


footer p a {
	margin: 5px 15px;
    text-decoration: none;
}

