/************************
Elementos de neutralização 
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #717171;
}


/************************
Estilizando o corpo do site
*/

body#body {
    width: 1200px;
}

.box-conteudo {
    padding-top: 20px;
    margin-left: 15px;
    height: 512px;
    background: blueviolet;
}

.clear {
    clear: both;
}

/************************
Estilizando cabeçalho
*/

header {
    background: #F28e13;
    padding-top: 3px;
    height: 90px;
    
}

header nav ul {
    list-style: none;
    margin: 20px;
    float: right;
}

header nav ul li {
    float: left;
}
header nav ul li a {
    color: #f2f2f2;
    padding: 11px;
}

header nav ul li a:link {
    color: #f2f2f2;
    display: block;
    margin-right: 25px;
}

header nav ul li a:hover {
    background: #c08747;
    color: #f2f2f2;
    border-radius: 31px;
    text-align: center;
    text-decoration: none;
}


.logo {
    border-radius: 60px;
    display: block;
    background: #f2f2f2;
    object-fit: cover;
    float: left;
    margin-left: 55px;
}


/************************
Estilizando conteúdo principal
*/

main {

}

main div.tela-inicial {
    
}